body {
  background-color: #004643;
  color: #004643;
}

.main-color {
  color: #004643;
}

.jq-bg-secondary {
  background-color: #abd1c6;
}

.jq-bg-headline {
  background-color: #fffffe;
}

.jq-bg-contrast {
  background-color: #f9bc60;
}

.jq-bordo {
  border: 1px solid black;
}

.jq-uppercase {
  text-transform: uppercase;
}

.jq-dati-biglietto {
  height: 100px;
}

input,
select {
  border: 1px solid #2e8b57;
  border-radius: 5px;
  height: 30px;
}

button {
  border-color: #2e8b57;
  border-radius: 5px;
}

button:focus,
input:focus {
  color: white;
  background-color: #f9bc60;
}

label {
  font-weight: 500;
}

#nome-passegg {
  color: #004643;
}

#nome-passegg,
#offerta,
#carrozza,
#codice,
#costo {
  font-weight: 600;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
